hr {
    border-top: 2px solid gray;
}

.dropdown-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #171F26;
}

.div {
    color:#171F26;
}

/* dropdown menu */
.Select-control {
    background-color: #171F26 !important;
    color: white;
  }



.Select-menu-outer {
    background-color: #171F26 !important;
    color: white;
}

.Select-value-label {
    background-color: #171F26 !important;
    color: white !important;
}


.tabs-group {
    padding-top: 20px;
}

.app-div {
    padding: 10px;
    background-color: #171F26;
}

.data-table-div {
    margin: auto;
    padding: 10px;
}

.checklist {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media(max-width: 800px) {
    .dropdown-container {
        grid-template-columns: 1fr;
    }
}

body {
  background-color: #171F26;
  color: #BACBD9;
}


/* drag and drop -able*/
.react-draggable {
  background-color: #3B4E59;
  border: 2px outset black;
}

